

/*navbar*/
a {
	text-decoration: none; 
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
		text-align: center;
		padding: 0 2em;
}

#nav{
    z-index: 1;
    width: 100%;
    background: rgb(235, 139, 37);
    position: fixed;
}
#navball{
    display: flex;
    flex-direction: row;
    height: 50px;
    box-shadow: 0 0 20px rgba(250, 250, 250, 0.288);
    font-family: 'Oswald', sans-serif;
    background: rgb(235, 139, 37);
}

#navball--top {
    position: fixed;
    top: 0;
    }

.Dragonlogo{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    flex: 1; 
    padding: 0px 15px;
}

.Dragon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 48, 129);
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.9rem;
    padding: 0px 15px;	  
}

.Dragon:hover {
    color:rgb(255, 102, 0);
    background: rgb(10, 48, 129);
}
.Dragon-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) { 
.Dragons .Dragon  {
    font-size: 1rem;
}
.et-slide .Dragon  {
    font-size: 1rem;
}
}
/*navbar fin*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #slider{
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 600px;
  }
  
  #slides{
    position: absolute;
    top: 10px;
    left: 0;
    display: flex;
    max-height: 100%;
  }
  
  #slides figure{
    display: inline-block;
    width: 100vw;
    max-height: 100%;
    margin: 0;
  }
  
  #slides figure img{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  @keyframes slide{
    0%, 20%, 100%{
      left: 0;
    }
    35%, 50%{
      left: -100vw;
    }
  70%, 95%{
    left: -200vw;
  }
  }
  
  #slide{
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  #slides{
    animation: slide 10s infinite ease-in-out forwards;
  }

/*video*/
  #video {
      text-align: center;
      height: 500px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:35px;
      padding: 5%;
    }
    
    #videou{
        height: 100%;
        width: 900px;
    }
 /*video fin*/

 /*univer*/
 #univers {
     background: rgb(235, 139, 37);
     width: 100%;
     height: 350px;
     padding-top: 2%;
     font-size: 25px;
 }
  p{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: rgb(10, 48, 129);
  }
 /*univer fin*/
    body{
        background-image:url(Capture_decran_1.png);
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0;
      
    }
