

/*navbar*/
a {
	text-decoration: none; 
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
		text-align: center;
		padding: 0 2em;
}

#nav{
    z-index: 1;
    width: 100%;
    background: rgb(235, 139, 37);
    position: fixed;
    padding-top: 0px;
}
#navball{
    display: flex;
    flex-direction: row;
    height: 50px;
    box-shadow: 0 0 20px rgba(250, 250, 250, 0.288);
    font-family: 'Oswald', sans-serif;
    background: rgb(235, 139, 37);
    padding-top: 0px;
}

#navball--top {
    position: fixed;
    top: 0;
    }

.Dragonlogo{
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    flex: 1; 
    padding: 0px 15px;
}

.Dragon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 48, 129);
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.9rem;
    padding: 0px 15px;	  
}

.Dragon:hover {
    color:rgb(255, 102, 0);
    background: rgb(10, 48, 129);
}
.Dragon-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) { 
.Dragons .Dragon  {
    font-size: 1rem;
}
.et-slide .Dragon  {
    font-size: 1rem;
}
}
#stage {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 900px;
  padding-top: 0px;

}

#stage a {
  position: absolute;
  width: 100%;
  height: 900px;
}
#stage a img {
    position: relative;
    width: 100%;
    ;
  }

#stage a:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 3s;
  animation-duration: 0.8s;
  z-index: 20;
}
#stage a:nth-of-type(2) {
  z-index: 10;
}
#stage a:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}

/*video*/
  #video {
      text-align: center;
      height: 500px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:35px;
      padding: 5%;
    }
    
    #videou{
        height: 100%;
        width: 900px;
    }
 /*video fin*/

 /*univer*/
 #univers {
     background: rgb(235, 139, 37);
     width: 100%;
     height: 350px;
     padding-top: 2%;
     font-size: 25px;
 }
  p{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: rgb(10, 48, 129);
  }
 /*univer fin*/
    body{
        background-image:url(Capture_decran_1.png);
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0;
      
    }
    

